<%- include('partials/header') %>
<div class="user">
    <div class="user-form">
        <form action="/users/<%=user.username%>" method="GET">
            <p>
                <span><button type="submit"
                        class="btn btn-secondary user-btn <%= cls==="profile"? "user-btn-active":"";%>" name="questions"
                        value="profile">
                        <%if(username===user.username){%>
                            My
                        <%}%>
                        Profile
                    </button></span>
                <span><button type="submit"
                        class="btn btn-secondary user-btn <%= cls==="asked"? "user-btn-active":"";%>" name="questions"
                        value="asked">
                        Questions Asked
                    </button></span>
                <span><button type="submit"
                        class="btn btn-secondary user-btn <%= cls==="upvoted"? "user-btn-active":"";%>" name="questions"
                        value="upvoted">
                        Questions Upvoted
                    </button></span>
                <span><button type="submit"
                        class="btn btn-secondary user-btn <%=cls==="answered"? "user-btn-active":"";%>" name="questions"
                        value="answered">
                        Questions Answered
                    </button></span>
            </p>
        </form>
    </div>
    <%if(cls=="profile"){%>
    <div class="user-properties">
        <h1 class="user-username"><%=user.username%></h1>

        <p class="user-email"><i class="fas fa-envelope"></i> <%=user.email%></p>

        <p class="user-time">
            <i class="fas fa-user"></i> User since <%=
    date.date(user.time).slice(0,date.date(user.time).length-3)%>
        </p>
        <p class="user-time">
            <i class="far fa-lightbulb"></i>
            Rating :   
            <%if(rating===0){%>
                &nbsp;&nbsp; -
            <%} else{%>
              <%for(let i=0;i<rating;i++){%>
                <i class="fas fa-star"></i>
              <%}%>
            <%}%>
        </p>
    </div>

    <div class="container">
        <div class="row">
          <div class=" user-stats-div col-md-4">
              <div>
                
                <h4> Number of Questions 
               <br>
               <%if(username===user.username){%>
                You
            <%}%>
                 Asked</h4>
                <br>
                <h2 class="user-stats"><%=user.questions.length%></h2>
              </div>
            
          </div>
          <div class="user-stats-div  col-md-4">
            <div>
                <h4> Number of Questions 
                    <br>`
                    <%if(username===user.username){%>
                        You
                    <%}%>
                     Upvoted</h4>
                     <br>
                <h2 class="user-stats"><%=user.upvotedQuestions.length%></h2>
              </div>
          </div>
          <div class="user-stats-div col-md-4">
            <div>
                <h4> Number of Questions 
                    <br>
                    <%if(username===user.username){%>
                        You
                    <%}%>
                     Downvoted</h4>
                     <br>
              <h2 class="user-stats"><%=user.downvotedQuestions.length%></h2>
              </div>
          </div>
          <div class="user-stats-div col-md-4">
            <div>
                <h4> Number of Questions 
                    <br>
                    <%if(username===user.username){%>
                        You
                    <%}%>
                     Answered</h4>
                     <br>
              <h2 class="user-stats"><%=user.answeredQuestions.length%></h2>
              </div>
          </div>
          <div class="user-stats-div col-md-4">
            <div>
                <h4>Upvotes gained by 
                    <br>
                    <%if(username===user.username){%>
                        Your
                    <%}%>
                    Questions</h4>
                     <br>
              <h2 class="user-stats"><%=goodQuestions%></h2>
              </div>
          </div>
          <div class="user-stats-div col-md-4">
            <div>
                <h4>Upvotes gained by 
                    <br>
                    <%if(username===user.username){%>
                        Your
                    <%}%>
                    Answers</h4>
                     <br>
              <h2 class="user-stats"><%=goodAnswers%></h2>
              </div>
          </div>
        </div>
      </div>

    <%} else{%>

    <div class="user-questions-div">

        <%if(arr.length===0){%>
            <p style="padding-top: 50px;padding-left:100px;color:#6e7c7c;;">No Questions <%=cls%></p>
        <%}%>
        <%for(let i=0;i<arr.length;i++){%>
        <hr>

        <p>

            <a class="list-a" href="/questions/<%=arr[i].id%>"><%=arr[i].title%></a>

            <a class="upvote-a" href="/questions/<%=arr[i].id%>">
                <div class="list-upvote-div">
                    Upvotes
                    <br>
                    <%=arr[i].upvote%>

                </div>
                <div class="list-upvote-div">
                    Answers
                    <br>
                    <%=arr[i].answers.length%>
                </div>
            </a>

            <%if(cls==="asked"){%>
            <div class="list-upvote-div askedby">
                asked
                <%= date.date(arr[i].time)%>
            </div>
            <%} else{%>
            <div class="list-upvote-div askedby">
                <%let link=username===arr[i].askedBy?"You":arr[i].askedBy;%>
                asked By :
                <a class="ask-user" href="/users/<%=arr[i].askedBy%>"><%=link%></a>
                <%= date.date(arr[i].time)%>
            </div>
            <%}%>
    </p>

    <%}%>
            
            <%}%>
</div>

<%- include('partials/footer') %>